.section-testimonials {
  @extend .text-left;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
  }

  .carousel-inner {
    padding-top: $section-padding;
    padding-bottom: $section-padding;
  }

  .blockquote {
    @extend .text-left;
  }

  .blockquote-footer {
    @extend .text-info;

    font-family: $headings-font-family;
  }
}