<div class="mainfooter row py-5">
  <div class="col">

  </div>
  <div class="col">
    {% set ariaLabel = 'social media navigation' %}
    {% include "partials/components/socialmedia.njk" %}
  </div>
  <div class="col footer-content">
    {{ footernavigation.footerContent | markdownFilter | safe }}
  </div>
</div>
