<div class="mainfooter row py-5 d-none">
  <div class="col footer-content">
    <h6>Clayton W. Behrmann</h6>
    <p>Professional Hair Stylist</p>

    {% set ariaLabel = 'social media navigation' %}
    {% include "partials/components/socialmedia.njk" %}
  </div>
  <div class="col footer-content">
    {{ footernavigation.footerContent | markdownFilter | safe }}
  </div>
</div>
