<footer role="contentinfo" class="content-info text-{{ footernavigation['textAlign'] }}">
  <div class="container">
    {% include "partials/global/footer.njk" %}
  </div>
  {% if site.showThemeCredit %}
  <div class="bg-dark py-3">
    <div class="container text-right text-white">
      <a class="text-white" href="https://getzeropoint.com">ZeroPoint</a>
    </div>
  </div>
  {% endif %}
</footer>
