//Structure & Layout Scss
.home, .page {
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  font-family: $font-family-second;
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  @extend .py-3;
}

.btn {
  color: theme-color('darkgrey');
}
