// Call to Actions
.calltoaction {
  @extend .py-5, .my-5;

  .card-cta {
    @extend .h-100, .border-0, .bg-transparent;

    img {

      border-radius: 0.5rem;
    }

    .card-body {
      @extend .text-center;

      .card-title {
        @extend .text-success;

        font-family: $font-family-base;
      }

      .card-text {
        font-weight: 400;
        line-height: 1.8rem;
        font-family: $font-family-second;
      }
    }
  }
}
