.header {
  background-repeat: no-repeat !important;
  background-size: cover !important;

  .intro-copy {
    @extend .bg-primary, .py-5;

    border-radius: 0.5rem;

    .headline {
      @extend .mt-2;
    }
    .subheader {
      @extend .my-3, .lead;

      font-family: $font-family-second;

    }
    .lead {
      @extend .mb-0;
    }
  }
}
