<section class="section section-contactform">
  <div class="{{ item.container }}">
     <div class="row">
        <div class="col col-md-6">
           {{ item.description | markdownFilter | safe }}
        </div> 
        <div class="col col-md-6">
          {{ site.formHtml | safe }}
        </div> 
     </div> 
  </div>
</section>
