.content-info {
  background-color: $footer-bg;
  color: $footer-color;

  .nav-link {
    color: $footer-color;
    padding: 0;
  }

  .socialmedia-icon {
    height: 2.5rem;
    width: auto;
    padding: 0;
  }

  .socialmedia-icon + .item-wrap {
    @extend .sr-only;
  }
}
